In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import scipy.stats as stats
import math
from sklearn.linear_model import LinearRegression

# Creating Pandas Dataframe from Relative error Reading Data

In [2]:
df_05v = pd.read_csv('../capture3rd/0.5v.csv')
df_05v = df_05v["voltage"]
df_3v = pd.read_csv('../capture3rd/3v.csv')
df_3v = df_3v["voltage"]
df_6v = pd.read_csv('../capture3rd/6v.csv')
df_6v = df_6v["voltage"]
df_9v = pd.read_csv('../capture3rd/9v.csv')
df_9v = df_9v["voltage"]
df_12v = pd.read_csv('../capture3rd/12v.csv')
df_12v = df_12v["voltage"]
df_15v = pd.read_csv('../capture3rd/15v.csv')
df_15v = df_15v["voltage"]
df_18v = pd.read_csv('../capture3rd/18v.csv')
df_18v = df_18v["voltage"]
df_21v = pd.read_csv('../capture3rd/21v.csv')
df_21v = df_21v["voltage"]
df_24_5v = pd.read_csv('../capture3rd/24,5v.csv')
df_24_5v = df_24_5v["voltage"]

df = {
    "0.5v" : df_05v.to_list(),
    "3v" : df_3v.to_list(),
    "6v" : df_6v.to_list(),
    "9v" : df_9v.to_list(),
    "12v" : df_12v.to_list(),
    "15v" : df_15v.to_list(),
    "18v" : df_18v.to_list(),
    "21v" : df_21v.to_list(),
    "24.5v" : df_24_5v.to_list()
}

df = pd.DataFrame(df)
df = df.apply(pd.to_numeric)
df = df.apply(lambda x: x.sort_values().values)
df.to_csv('../docs 2nd Approach/all_voltage.csv', index=False)
df

     0.5v    3v    6v    9v    12v    15v    18v    21v  24.5v
0    0.38  2.94  5.92  8.94  11.92  14.87  17.94  20.96  24.45
1    0.38  2.94  5.92  8.94  11.92  14.89  17.96  20.96  24.45
2    0.38  2.94  5.94  8.94  11.92  14.92  17.96  20.96  24.45
3    0.41  2.97  5.94  8.94  11.94  14.92  17.96  20.96  24.45
4    0.43  2.97  5.94  8.94  11.94  14.94  17.96  20.96  24.47
..    ...   ...   ...   ...    ...    ...    ...    ...    ...
995  0.58  3.06  6.04  9.06  12.04  15.04  18.06  21.06  24.57
996  0.58  3.06  6.06  9.06  12.04  15.04  18.06  21.06  24.57
997  0.58  3.06  6.06  9.06  12.06  15.04  18.06  21.09  24.57
998  0.58  3.06  6.06  9.06  12.06  15.06  18.06  21.09  24.57
999  0.60  3.06  6.06  9.06  12.06  15.06  18.09  21.09  24.57

[1000 rows x 9 columns]

In [3]:

df = {
    "0.5v" : [],
    "3v" : [],
    "6v" : [],
    "9v" : [],
    "12v" : [],
    "15v" : [],
    "18v" : [],
    "21v" : [],
    "24.5v" : []
}
for i in df_05v:
    df["0.5v"].append(((i-0.5)/0.5) * 100)
for i in df_3v:
    df["3v"].append(((i-3.0)/3.0) * 100)
for i in df_6v:
    df["6v"].append(((i-6)/6) * 100)
for i in df_9v:
    df["9v"].append(((i-9)/9) * 100)
for i in df_12v:
    df["12v"].append(((i-12)/12) * 100)
for i in df_15v:
    df["15v"].append(((i-15)/15) * 100)
for i in df_18v:
    df["18v"].append(((i-18)/18) * 100)
for i in df_21v:
    df["21v"].append(((i-21.0)/21.0) * 100)
for i in df_24_5v:
    df["24.5v"].append(((i-24.5)/24.5) * 100)

df = pd.DataFrame(df)
df = df.apply(pd.to_numeric)
df = df.apply(lambda x: x.sort_values().values)
df.to_csv('../docs 2nd Approach/relative_error.csv', index=False)
df

,0.5v,3v,6v,9v,12v,15v,18v,21v,24.5v
0,-24.0,-2.0,-1.333333,-0.666667,-0.666667,-0.866667,-0.333333,-0.190476,-0.204082
1,-24.0,-2.0,-1.333333,-0.666667,-0.666667,-0.733333,-0.222222,-0.190476,-0.204082
2,-24.0,-2.0,-1.000000,-0.666667,-0.666667,-0.533333,-0.222222,-0.190476,-0.204082
3,-18.0,-1.0,-1.000000,-0.666667,-0.500000,-0.533333,-0.222222,-0.190476,-0.204082
4,-14.0,-1.0,-1.000000,-0.666667,-0.500000,-0.400000,-0.222222,-0.190476,-0.122449
...,...,...,...,...,...,...,...,...,...
995,16.0,2.0,0.666667,0.666667,0.333333,0.266667,0.333333,0.285714,0.285714
996,16.0,2.0,1.000000,0.666667,0.333333,0.266667,0.333333,0.285714,0.285714
997,16.0,2.0,1.000000,0.666667,0.500000,0.266667,0.333333,0.428571,0.285714
998,16.0,2.0,1.000000,0.666667,0.500000,0.400000,0.333333,0.428571,0.285714
999,20.0,2.0,1.000000,0.666667,0.500000,0.400000,0.500000,0.428571,0.285714

# Generated Z Score from each relative error

In [4]:
for i in df.columns:
    df[i] = (df[i] - df[i].mean()) / df[i].std()

df.to_csv('../docs 2nd Approach/z-score_all_voltage.csv', index=False)
df

,0.5v,3v,6v,9v,12v,15v,18v,21v,24.5v
0,-5.498897,-5.415299,-4.764770,-3.828409,-4.526218,-7.134424,-4.232667,-3.128839,-3.797127
1,-5.498897,-5.415299,-4.764770,-3.828409,-4.526218,-6.017926,-3.143037,-3.128839,-3.797127
2,-5.498897,-5.415299,-3.580976,-3.828409,-4.526218,-4.343178,-3.143037,-3.128839,-3.797127
3,-4.217401,-3.530187,-3.580976,-3.828409,-3.395229,-4.343178,-3.143037,-3.128839,-3.797127
4,-3.363071,-3.530187,-3.580976,-3.828409,-3.395229,-3.226680,-3.143037,-3.128839,-2.670717
...,...,...,...,...,...,...,...,...,...
995,3.044406,2.125150,2.337993,3.718972,2.259716,2.355811,2.305112,1.897408,2.961331
996,3.044406,2.125150,3.521786,3.718972,2.259716,2.355811,2.305112,1.897408,2.961331
997,3.044406,2.125150,3.521786,3.718972,3.390705,2.355811,2.305112,3.405282,2.961331
998,3.044406,2.125150,3.521786,3.718972,3.390705,3.472310,2.305112,3.405282,2.961331
999,3.898736,2.125150,3.521786,3.718972,3.390705,3.472310,3.939557,3.405282,2.961331