In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import scipy 
import seaborn as sns
import statsmodels.api as sm
from statsmodels.formula.api import ols
from statsmodels.stats.multicomp import pairwise_tukeyhsd
from bioinfokit.analys import stat

In [2]:
df_all = pd.read_csv('../docs 2nd Approach/remove_outlier_chauvenet_voltage.csv')
df_all

      index voltage  value
0       124    0.5v   0.50
1       125    0.5v   0.50
2       126    0.5v   0.50
3       127    0.5v   0.50
4       128    0.5v   0.50
...     ...     ...    ...
8061   8995   24.5v  24.57
8062   8996   24.5v  24.57
8063   8997   24.5v  24.57
8064   8998   24.5v  24.57
8065   8999   24.5v  24.57

[8066 rows x 3 columns]

In [3]:
df_u = df_all.pivot(columns='voltage', values='value')
df_05v = df_u['0.5v'].dropna().reset_index(drop=True)
df_3v = df_u['3v'].dropna().reset_index(drop=True)
df_6v = df_u['6v'].dropna().reset_index(drop=True)
df_9v = df_u['9v'].dropna().reset_index(drop=True)
df_12v = df_u['12v'].dropna().reset_index(drop=True)
df_15v = df_u['15v'].dropna().reset_index(drop=True)
df_18v = df_u['18v'].dropna().reset_index(drop=True)
df_21v = df_u['21v'].dropna().reset_index(drop=True)
df_24_5v = df_u['24.5v'].dropna().reset_index(drop=True)

val = {
    "0.5v" : df_05v,
    "3v" : df_3v,
    "6v" : df_6v,
    "9v" : df_9v,
    "12v" : df_12v,
    "15v" : df_15v,
    "18v" : df_18v,
    "21v" : df_21v,
    "24.5v" : df_24_5v
}

df = {}

# Uncertainy Range (Vmax - Vmin / n)

In [12]:
for i in val.keys():
    print((val[i].max() - val[i].min()) / len(val[i]))
    print(float("{:.2f}".format((val[i].max() - val[i].min()) / len(val[i]))))

0.0
0.0
5.1635111876075396e-05
0.0
7.121057985757913e-05
0.0
9.072580645161276e-05
0.0
0.00012036108324975024
0.0
0.00012048192771084437
0.0
0.00014999999999999858
0.0
0.000129999999999999
0.0
0.00012000000000000099
0.0

# Mean Deviation

In [22]:
for i in val.keys():
    temp = []
    for j in val[i]:
        temp.append(abs(j - val[i].mean()))
    
    print(f"Mean of {i} is {round(sum(temp) / len(temp), 2)}")
    temp = []

Mean of 0.5v is 0.0
Mean of 3v is 0.01
Mean of 6v is 0.01
Mean of 9v is 0.01
Mean of 12v is 0.01
Mean of 15v is 0.01
Mean of 18v is 0.02
Mean of 21v is 0.02
Mean of 24.5v is 0.01

In [ ]:
float("{:.2f}".format())

In [15]:
abs(-1234234)

1234234

In [20]:
round(4.7565, 2)

4.76

In [23]:
round(0.015, 2)

0.01

In [26]:
round(val['0.5v'].mean(), 2)

0.5