In [2]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.linear_model import LinearRegression

In [3]:
df_05v = pd.read_csv('../docs/0.5v_1000data_250delay.csv')
df_05v = df_05v["voltage"]
df_3v = pd.read_csv('../docs/3v_1000data_250delay.csv')
df_3v = df_3v["voltage"]
df_6v = pd.read_csv('../docs/6v_1000data_250delay.csv')
df_6v = df_6v["voltage"]
df_9v = pd.read_csv('../docs/9v_1000data_250delay.csv')
df_9v = df_9v["voltage"]
df_12v = pd.read_csv('../docs/12v_1000data_250delay.csv')
df_12v = df_12v["voltage"]
df_15v = pd.read_csv('../docs/15v_1000data_250delay.csv')
df_15v = df_15v["voltage"]
df_18v = pd.read_csv('../docs/18v_1000data_250delay.csv')
df_18v = df_18v["voltage"]
df_21v = pd.read_csv('../docs/21v_1000data_250delay.csv')
df_21v = df_21v["voltage"]
df_24_5v = pd.read_csv('../docs/24.5v_1000data_250delay.csv')
df_24_5v = df_24_5v["voltage"]

In [4]:
df = {
    "0.5v" : [],
    "3v" : [],
    "6v" : [],
    "9v" : [],
    "12v" : [],
    "15v" : [],
    "18v" : [],
    "21v" : [],
    "24.5v" : []
}
for i in df_05v:
    df["0.5v"].append((abs(i-0.5)/0.5) * 100)
for i in df_3v:
    df["3v"].append((abs(i-3)/3) * 100)
for i in df_6v:
    df["6v"].append((abs(i-6)/6) * 100)
for i in df_9v:
    df["9v"].append((abs(i-9)/9) * 100)
for i in df_12v:
    df["12v"].append((abs(i-12)/12) * 100)
for i in df_15v:
    df["15v"].append((abs(i-15)/15) * 100)
for i in df_18v:
    df["18v"].append((abs(i-18)/18) * 100)
for i in df_21v:
    df["21v"].append((abs(i-21)/21) * 100)
for i in df_24_5v:
    df["24.5v"].append((abs(i-21)/21) * 100)

df = pd.DataFrame(df)

In [5]:
df.head(5)

,0.5v,3v,6v,9v,12v,15v,18v,21v,24.5v
0,2.0,12.000000,0.333333,0.444444,0.083333,0.266667,0.388889,0.571429,16.476190
1,8.0,0.666667,0.333333,0.666667,1.333333,0.266667,0.222222,0.571429,17.047619
2,2.0,3.333333,0.333333,0.222222,0.333333,0.066667,0.111111,0.428571,17.285714
3,8.0,1.666667,0.166667,0.888889,0.083333,0.066667,1.055556,1.047619,18.095238
4,12.0,1.666667,0.500000,1.444444,0.083333,1.066667,0.111111,0.809524,18.714286

In [6]:
df.to_csv("../docs/error_voltage_all.csv", index=False)
df.to_excel("../docs/error_voltage_all.xlsx", index=False)