In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.linear_model import LinearRegression

In [25]:
df_05v = pd.read_csv('../docs/0.5v_1000data_250delay.csv')
df_05v = df_05v["voltage"]
df_3v = pd.read_csv('../docs/3v_1000data_250delay.csv')
df_3v = df_3v["voltage"]
df_6v = pd.read_csv('../docs/6v_1000data_250delay.csv')
df_6v = df_6v["voltage"]
df_9v = pd.read_csv('../docs/9v_1000data_250delay.csv')
df_9v = df_9v["voltage"]
df_12v = pd.read_csv('../docs/12v_1000data_250delay.csv')
df_12v = df_12v["voltage"]
df_15v = pd.read_csv('../docs/15v_1000data_250delay.csv')
df_15v = df_15v["voltage"]
df_18v = pd.read_csv('../docs/18v_1000data_250delay.csv')
df_18v = df_18v["voltage"]
df_21v = pd.read_csv('../docs/21v_1000data_250delay.csv')
df_21v = df_21v["voltage"]

In [27]:
df_12v

0      11.99
1      12.16
2      12.04
3      11.99
4      12.01
       ...
995    12.01
996    12.01
997    11.96
998    12.01
999    12.01
Name: voltage, Length: 1000, dtype: float64

In [23]:
df = {
    "0.5v" : [],
    "3v" : [],
    "6v" : [],
    "9v" : [],
    "12v" : [],
    "15v" : [],
    "18v" : [],
    "21v" : []
}
for i in df_05v:
    df["0.5v"].append(0.5-i)
for i in df_3v:
    df["3v"].append(3-i)
for i in df_6v:
    df["6v"].append(6-i)
for i in df_9v:
    df["9v"].append(9-i)
for i in df_12v:
    df["12v"].append(12-i)
for i in df_15v:
    df["15v"].append(15-i)
for i in df_18v:
    df["18v"].append(18-i)
for i in df_21v:
    df["21v"].append(21-i)

df = pd.DataFrame(df)

In [24]:
df.head(5)

   0.5v    3v    6v    9v   12v   15v   18v   21v
0  0.01  0.36  0.02  0.04  0.01 -0.04 -0.07 -0.12
1 -0.04  0.02  0.02 -0.06 -0.16 -0.04 -0.04 -0.12
2  0.01 -0.10  0.02  0.02 -0.04 -0.01 -0.02 -0.09
3 -0.04 -0.05 -0.01 -0.08  0.01 -0.01 -0.19 -0.22
4  0.06  0.05 -0.03 -0.13 -0.01 -0.16 -0.02 -0.17

In [29]:
df.to_csv("../docs/error_voltage_all.csv", index=False)
df.to_excel("../docs/error_voltage_all.xlsx", index=False)